<body class="loginBackground">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="signupBox">


      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_Name %>
            <%= f.text_field :first, class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :last_Name %>
            <%= f.text_field :last, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :telephone %>
            <%= f.telephone_field :number, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
      <% end %>
      <div class="noAccount">
        Already have an account? <a href="../users/sign_in" class="loginTosignin">Login</a> now!
      </div>


    </div>
  </div>
  <div class="col-md-4"></div>
</div>


</body>